/bin/
/midifile.kar
/newSong.xml
/fullexample.txt
/fullexample.xml
/global_alignment_inference/
/presentations/
/generalized_global_alignment_inference/
/combinedViewpointMatchGrouping.txt
/.DS_Store
/compositions/
/generatedSongLyrics.txt
/training_lyrics_sorted_by_relevance.txt
/generatedSongLyricsEmpath.txt
/inspiring_empath.txt
/training_songs_sorted_by_relevance.txt
