/monkeys_1.png
/monkeys_2.png
/monkeys_3.png
/syl_model_1.png
/syl_model_2.png
/syntax_tree.png
/down_by_the_bay_constraints.png
/DownByTheBaySolicit.pages
/evaluative_results.png
/higher_order_mm.png
/higher_order_nhm.png
/barbieri_fig.png
/.DS_Store
