/iteration1.xml
/IterationLog.txt
/newSong.xml
/newSong.pdf
/newSongOrchestrated.mp3
/newSongOrchestrated.pdf
/newSongOrchestrated.xml
/newSongOrchestrated.myr.bak
/newSongOrchestratedLeadSheet.myr
/HelloWorldLeadsheet.pdf
/BSSF.wav
/.DS_Store
