/.DS_Store
/parameterization_pop_chorus.txt
/parameterization_pop_chorus_allowing_change.txt
/parameterization_pop_harmony.txt
/parameterization_pop_lyric.txt
/parameterization_pop_pitch.txt
/parameterization_pop_rhythm.txt
/parameterization_pop_verse.txt
/parameterization_pop_verse_bad.txt
